<form id="editFormMulti" role="form">
     <p class="lead text-muted">Diese Daten werden in deinen Kalender übernommen</p>
     <input type="hidden" id="editMultiId">
     <div class="form-group">
          <label for="name">Name</label>
          <input id="multiName" name="name" type="text" class="form-control input-md" required> 
     </div> 
     <div class="form-group">
          <label for="location">Ort</label>
          <input id="multiLocation" name="location" type="text" class="form-control input-md">
     </div>
     <div class="form-group"> 
          <label for="comment">Kommentar</label>
          <input id="multiComment" name="comment" type="text" class="form-control input-md"> 
     </div>
     <!-- Dates and Times after this Comment are dynamicly inserted -->
     <div class="form-group"> 
          <label for="repeat">Wiederholung</label>
          <input id="multiRepeat" name="repeat" type="text" class="form-control input-md"> 
     </div>
</form>