#container {
    margin-left:    5px;
    margin-top:     5px;
    padding:        0px;
    height:         100px;
    width:          200px;
}

.addButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #3dc21b;
	-webkit-box-shadow:inset 0px 1px 0px 0px #3dc21b;
	box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background-color:#44c767;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:0px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	min-width: 250px;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.addButton:hover {
	background-color:#5cbf2a;
}
.addButton:active {
	position:relative;
	top:1px;
}

.downloadButton {
	background-color:white;
	border-radius:4px;
	position: relative;
	width: 125px;
	float: left;
	border: 2px solid lightgrey;
	line-height: 0.2in;
	display: table-cell;
	cursor: pointer;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 5px;
	text-decoration: none;
}

.downloadButton:hover {
  color: grey;
}

.shoppingCart {
  vertical-align:left;
  margin:0;
  display:inline-block;
  width:15px;
  height:15px;
}

#selectionBox {
	position: fixed;
	color: black;
	background-color: white;
	transition: opacity 0.5s ease;
	opacity: 0.9;
	filter: blur(20px);
	width: 100%;
	transition: height 0.5s ease;
	height: 0.5in;
	z-index:1000;
	border: 5px;
	border-color: #EFEFEF;
	table-layout: fixed;
}

#selectionBox:hover {
	transition: opacity 0.5s ease;
	transition: height 0.5s ease;
	height: 1in;
	opacity: 0.999;
}

.clearButton {
	height: 0.5in;
	background-color: #EFEFEF;
	border: 2px;
}

.selectionBoxItem {
	display:inline-block;
	margin: 5px;
	padding: 2px 2px;
	border:2px solid lightgrey;
	border-radius: 5px;
	line-height: 0.2in;
	background-color: white;
	text-decoration:none;
}

.selectionBoxItem:hover {
	
}

.clearButton {
	position: relative;
	float: right;
	width: 40px;
	height: 100%;
	background-color: #FF9313;
	color: white;
	display: inline-block;
}

#itemBox {
	float: left;
	display: inline-block;
}

#controlBox {
	float: left;
	display: inline-block;
}