* {
   font-size: 12px;
   line-height: 1.5;
}

#container {
    margin-left:    5px;
    margin-top:     5px;
    padding:        0px;
    height:         100px;
    width:          200px;
}

.addButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #3dc21b;
	-webkit-box-shadow:inset 0px 1px 0px 0px #3dc21b;
	box-shadow:inset 0px 1px 0px 0px black;
	background-color:orange;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:0px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	min-width: 250px;
	font-family:Arial;
	font-size:13px;
	text-shadow: 2px;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.addButton:hover {
	transition: background-color 0.5s ease;
	background-color: #f27107;
}
.addButton:active {
	position:relative;
	top:1px;
}

.downloadButton {
	background-color:white;
	border-radius:4px;
	position: relative;
	width: 50%;
	float: left;
	border: 2px solid lightgrey;
	height: 100%;
	display: table-cell;
	cursor: pointer;
	color: black;
	font-size: 12px;
	padding: 0px 5px;
	text-decoration: none;
}

.downloadButton:hover {
  color: grey;
}

.shoppingCart {
  vertical-align:left;
  margin:0;
  display:inline-block;
  width:15px;
  height:15px;
}

.plusIcon {
	vertical-align: center;
}

#selectionBox {
	position: fixed;
	color: black;
	background-color: lightgrey;
	display: none;
	transition: width 0.5s ease;
	width: 3in;
	z-index: 1000;
	right: 0;
	transition: height 0.5s ease;
	height: 100%;
	table-layout: fixed;
}

#openSelectionBox {
	position: fixed;
	z-index: 1000;
	background-color: darkorange;
	color: white;
	font-family: arial;
	font-size: 16px;
	vertical-align: middle;
	text-align: center;
	height: 0.5in;
	width: 1in;
	right: 0px;
	cursor: pointer;
}

.clearButton {
	height: 0.5in;
	background-color: #EFEFEF;
	border: 2px;
	cursor: pointer;
}

.selectionBoxItem {
	background-color:white;
	position: relative;
	width: 95%;
	height: 1in;
	float: center;
	border: 2px solid lightgrey;
	display: block;
	cursor: pointer;
	color: black;
	font-size: 12px;
	text-align: center;
	font-family: Arial;
	padding: 0px 5px 0px 5px;
	text-decoration: none;
}

.itemDetail {
	font-size: 10px;
	text-align: left;
}

#downloadArea {
	position: absolute;
	display: block;
	width: 100%;
	height: 0.4in;
	bottom: 0px;
	clear: both;
}

#backButton {
	position: absolute;
	display: block;
	font-size: 14px;
	width: 100%;
	height: 0.25in;
	top: 0px;
	clear: both;
	background-color: red;
	color: white;
	font-family: sans-serif;
	cursor: pointer;
	vertical-align: middle;
}

#itemBox {
	position: absolute;
	display: block;
	width: 100%;
	height: 95%;
	clear: both;
	top: 0.25in;
	bottom: 0.25;
	overflow: scroll;
}