 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Unsere Motivation</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Muss das sein?</h3>
                    <p>Jedes Semester sagt sich ein jeder Student, organisierter an sein Studium zu gehen. Einige malen ihren Stundenplan mühsam auf Papier, andere tragen ebenso aufwändig jeden Termin per Hand in Ihre Kalendar ein. Spätestens nach dem fünften Termin sind Viele abgeneigt den Stundenplan abzufertigen.</p>
                </div>
                <div class="col-lg-4">
                <h3>Nein!</h3>
                    <p>Wir sind der Meinung, dass das besser geht. Aus diesem Grund haben wir ein Chrome-Plugin geschrieben, dass für euch die Daten auswertet und als praktische Datei exportiert. <br>
                    Diese könnt ihr in jeden elektronischen Kalendar eurer Wahl importieren. Sei es Outlook, iCal von Apple usw. Das ist euch überlassen. Viel Spaß :) </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline" disabled="disabled">
                        <i class="fa fa-download"></i> Bald Verfügbar
                    </a>
                </div>
            </div>
        </div>
    </section>