 <!-- Features Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Features</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>Warenkorb Prinzip</h3>
                    <p>Jede Veranstaltung lässt sich wie von Shopping-Portalen gewohnt mit einem Klick zum "Warenkorb" hinzufügen.</p>
                </div>
                <div class="col-lg-12">
                    <h3>Alternative Termine</h3>
                    <p>Der Zeitpunkt eines Termines liegt ungünstig? - Kein Problem. <br> 
                    Ihr könnt euch weitere Informationen zu Veranstaltungen anzeigen lassen und dort alternative Termine auswählen.</p>
                </div>
                <div class="col-lg-12">
                    <h3>Editierbare Termine</h3>
                    <p>Ihr wollt eine Veranstaltung umbenennen? Diese soll nur alle 3 Wochen stattfinden? <br>
                    Jede Veranstaltung, welche im Warenkorb liegt, kann angeklickt werden und führt zu einem Editier-Modus. Dort könnt Ihr einen Termin der Veranstaltung auswählen und Namen, Datum, Zeit, etc. bearbeiten.</p>
                </div>
                <div class="col-lg-12">
                    <h3>Gespeicherter Warenkorb</h3>
                    <p>Alle Elemente, die sich im Warenkorb befinden, werden automatisch im Browser gespeichert. Ihr braucht also nicht bei Änderungen euren ganzen Stundenplan neu zusammenstellen.</p>
                </div>
                <div class="col-lg-12">
                    <h3>Erkennt Änderungen</h3>
                    <p>Wurde eine Veranstaltung bearbeitet, so erkennt das Plugin diese und es wird beim Öffnen des VLVs nachgefragt, ob die Veranstaltung mit aktuellen Daten ersetzt werden soll.</p>
                </div>
            </div>
        </div>
    </section>