 <!-- About Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Die Gesichter hinter der Idee</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/el.png" class="img-responsive img-circle" alt="">
                        <h4>Erik Langenhan</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/nrrs.jpg" class="img-responsive img-circle" alt="">
                        <h4>Norris Sam Osarenkhoe</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/berk.jpg" class="img-responsive img-circle" alt="">
                        <h4>Berk Bayraktar</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/tim.png" class="img-responsive img-circle" alt="">
                        <h4>Tim Reinhold</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/raj.png" class="img-responsive img-circle" alt="">
                        <h4>Rajeethan Dayaparam</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/raetzer.jpg" class="img-responsive img-circle" alt="">
                        <h4>Florian Raetzer</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/micha.png" class="img-responsive img-circle" alt="">
                        <h4>Michael Hähnel</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/cem.png" class="img-responsive img-circle" alt="">
                        <h4>Cem Kaygususz</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/thom.jpg" class="img-responsive img-circle" alt="">
                        <h4>Thomas Dietrich</h4>
                        <p class="text-muted">Betreuer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>