<form id="editForm" method="post">
     <legend>Diese Daten werden in deinen Kalender übernommen</legend>
     <input type="hidden" id="editId">
     <div class="form-group"> 
          Name: <input id="editName" name="name" type="text" class="form-control input-md"> 
     </div> 
     <div class="form-group"> 
          Ort: <input id="editLocation" name="location" type="text" class="form-control input-md">
     </div>
     <div class="form-group"> 
          Kommentar: <input id="editComment" name="comment" type="text" class="form-control input-md"> 
     </div>
     <div class="form-group"> 
          Datum: <input id="editDate" name="date" type="date" class="form-control input-md"> 
     </div>
     <div class="form-group"> 
          Beginn: <input id="editBeginTime" name="begin" type="time" class="form-control input-md"> 
     </div>
     <div class="form-group"> 
          Ende: <input id="editEndTime" name="end" type="time" class="form-control input-md"> 
     </div>
     <div class="form-group"> 
          Wiederholung: <input id="editRepeat" name="repetition" type="text" class="form-control input-md"> 
     </div>
</form>